/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */







/****************/
/* MIJN VRAGEN */
/***************/

/* wat is de code voor een datum in een tekst?
/*zijn sterren knoppen ook gewoon buttons?
/*heb ik articles en sections goed gebruikt?
/*zouden de evenementen blokjes ook eigenlijk articles?
/*Heb ik de alt van afbeeldingen duidelijk beschreven?
